PORT=3000
APP_NAME=ChoralRecord
JWT_SECRET=
FRONTEND_URL=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=





#PORT=3000 
#APP_NAME= 
#DB_HOST=localhost 
#DB_USER=root 
#DB_PASSWORD= 
#DB_NAME=*tienda_db* 
#JWT_SECRET=change_me 
#FRONTEND_URL=http://localhost:5173 
